@font-face {
    font-family: "fonticons";
    src: url("./fonticons.eot?6c45d5b7fb6ae71b05b8511f07597d33?#iefix") format("embedded-opentype"),
url("./fonticons.woff2?6c45d5b7fb6ae71b05b8511f07597d33") format("woff2"),
url("./fonticons.woff?6c45d5b7fb6ae71b05b8511f07597d33") format("woff"),
url("./fonticons.ttf?6c45d5b7fb6ae71b05b8511f07597d33") format("truetype"),
url("./fonticons.svg?6c45d5b7fb6ae71b05b8511f07597d33#fonticons") format("svg");
}

i[class^="bm-"]:before, i[class*=" bm-"]:before {
    font-family: fonticons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bm-brick-overflow:before {
    content: "\f101";
}
.bm-bricksum:before {
    content: "\f102";
}
.bm-brix:before {
    content: "\f103";
}
.bm-colours:before {
    content: "\f104";
}
.bm-control-panel:before {
    content: "\f105";
}
.bm-events:before {
    content: "\f106";
}
.bm-flow:before {
    content: "\f107";
}
.bm-navigation:before {
    content: "\f108";
}
.bm-parts:before {
    content: "\f109";
}
.bm-pick-a-brick:before {
    content: "\f10a";
}
.bm-placekit:before {
    content: "\f10b";
}
.bm-power-grid:before {
    content: "\f10c";
}
.bm-qr:before {
    content: "\f10d";
}
.bm-radio-station:before {
    content: "\f10e";
}
.bm-roadview:before {
    content: "\f10f";
}
.bm-stores:before {
    content: "\f110";
}
.bm-timeline:before {
    content: "\f111";
}
.bm-timesheets:before {
    content: "\f112";
}
.bm-tracks:before {
    content: "\f113";
}
.bm-train:before {
    content: "\f114";
}
.bm-videokit:before {
    content: "\f115";
}
